<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>

<head th:replace="~{fragments::head}">

<body>
<header th:replace="~{fragments::main-header}"></header>
<div class="container">
    <div class="row" style="display: flex;justify-items: center;align-items: center">
    </div>
</div>
<br>
<div class="container text-center my-5 row" style="display: flex;justify-items: center;align-items: center">
    <h1 class="c-12" style="font-size: 50px;text-align: center">Hi admin</h1>
</div>
</body>

</html>