<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <!-- reset css  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <!-- css  -->
    <!-- <link href="./footer.component.css" rel="stylesheet" type="text/css"> -->
    <!-- gg font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!-- font icon -->
    <script src="https://kit.fontawesome.com/46f0e7003f.js" crossorigin="anonymous"></script>

</head>
<body>
<footer class="footer">
    <div class="grid wide footer__content">
        <div class="row">
            <!-- <div class="col l-2-4 m-4-c-6">
                <h3 class="footer__heading">Chăm sóc khách hàng</h3>
                <ul class="footer-list">
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Trung tâm trợ giúp</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Shopee Mall</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Hướng dẫn mua hàng</a>
                    </li>
                </ul>
            </div> -->
            <div class="col l-8 m-8 c-12">
                <h3 class="footer__heading">Về Tìm Sách</h3>
                <span class="category-item__link footer-list footer-item">Mục đích ra đời của Tìm Sách là giúp người dùng tìm kiếm sách dễ dàng hơn, đặc biệt là khi họ muốn biết thông tin cơ bản về một cuốn sách cụ thể trước khi quyết định mua hoặc mượn nó. Điều này có thể tiết kiệm thời gian và giúp người dùng chọn sách phù hợp với nhu cầu của họ một cách thuận tiện.</span>
            </div>
            <div class="col l-3 m-4 c-12">
                <h3 class="footer__heading">Theo dõi chúng tôi trên</h3>
                <ul class="footer-list">
                    <li class="footer-item">
                        <a href="" class="footer-item__link">
                            <i class="fab fa-facebook footer-item__icon"></i>
                            Facebook
                        </a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">
                            <i class="fab fa-instagram footer-item__icon"></i>
                            Instagram
                        </a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">
                            <i class="fab fa-linkedin footer-item__icon"></i>
                            Linkedln
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
